
.seat-details-container {
  display: flex;
  justify-content: center;
    text-align: center;
    padding: 100px;

  }
  
  .seat-card {
    
    background-color: #cbe5fd;
    border: 5px solid #ccc;
    border-radius: 5px;
    padding: 50px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 250px;
    overflow: hidden; /* Prevent content from extending horizontally */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis;
    position: relative;
    top: 80px;
    margin-left: -230px;
  }
  

  .seat-card:hover {
    background-color: #76c1ff;
  }
  
  .background-color{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
  }
