
<div class="background-color">
<div class="container">
  <div class="content">
    <div class="text-center">
      <h4 class="mb-4">Welcome to Book Cars</h4>
      <p class="small mb-0">The perfect car for your next trip is just around the corner.
        Book your drive now!</p>
    </div>
  </div>
  
  <div class="button-container">
    <button
      type="button"
      class="click-button customer-button"
      (click)="onCustomerClick()"
    >
      Customer
    </button>
      
    <button
      type="button"
      class="click-button admin-button"
      (click)="onAdminClick()"
    >
      Admin
    </button>
  </div>
</div>
